apiVersion: batch/v1
kind: Job
metadata:
  name: study-creator
spec:
  template:
    spec:
      restartPolicy: OnFailure
      initContainers:
        - name: init-myservice
          image: busybox:1.28
          command:
            - 'sh'
            - '-c'
            - "until nslookup redis-optuna.$(cat /var/run/secrets/kubernetes.io/serviceaccount/namespace).svc.cluster.local; do echo waiting for redis-optuna; sleep 2; done"
      containers:
        - name: study-creator
          image: optuna/optuna:v2.5.0-py3.8-dev
          imagePullPolicy: IfNotPresent
          command:
            - "optuna"
            - "create-study"
            - "--direction maximize"
            - "--study-name test"
            - "--storage redis://redis-optuna"